{% extends 'master1.html' %}

{% block section1 %}
<h2>INTRODUCTION TO FLOWERS</h2>
<p>A flower, sometimes known as a bloom or blossom, is the reproductive structure found in flowering plants (plants of the division Angiospermae). The biological function of a flower is to facilitate reproduction, usually by providing a mechanism for the union of sperm with eggs. Flowers may facilitate outcrossing (fusion of sperm and eggs from different individuals in a population) resulting from cross-pollination or allow selfing (fusion of sperm and egg from the same flower) when self-pollination occurs.
{% endblock %}

{% block section2 %}
<h2>TYPES OF POLLINATION</h2>
<p>There are two types of pollination: self-pollination and cross-pollination. Self-pollination occurs when the pollen from the anther is deposited on the stigma of the same flower, or another flower on the same plant. Cross-pollination is when pollen is transferred from the anther of one flower to the stigma of another flower on a different individual of the same species. Self-pollination happens in flowers where the stamen and carpel mature at the same time, and are positioned so that the pollen can land on the flower's stigma. This pollination does not require an investment from the plant to provide nectar and pollen as food for pollinators.</p>
{% endblock %}

{% block section3 %}
<h2>ETYMOLOGY</h2>
<p>Flower is from the Middle English flour, which referred to both the ground grain and the reproductive structure in plants, before splitting off in the 17th century. It comes originally from the Latin name of the Italian goddess of flowers, Flora. The early word for flower in English was blossom,[2] though it now refers to flowers only of fruit trees</p>
{% endblock %}