{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
{% include 'header.html' %}
{% include 'menu.html' %}

<div class="container">
    <h2> Search Employee</h2>
    <form action="/filterfun" method="post">
        {% csrf_token %}
        <label for="cars">Select emp_roll:</label>
        <select id="cars" name="roll">
            {% for option in dropdown %}
            <option value="{{ option.emp_roll }}">{{ option.emp_roll }}</option>
            {% endfor %}
        </select>

        <br><br>
        <input type="submit" value="Submit">

    </form>


    <br>
    <br>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Employee Name</th>
            <th>Employee Age</th>
            <th>Position</th>
            <th>Gender</th>
        </tr>
        </thead>
        <tbody>
        {% for emp in records %}
        <tr>
            <td>{{emp.name}}</td>
            <td>{{emp.age}}</td>
            <td>{{emp.position}}</td>
            <td>{{emp.gender}}</td>

        </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href=/getForm><button>click to view form</button></a>



    <br>

</div>
</div>
</div>
</body>
</html>